* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 모바일 컨테이너너 */
.mobile-container {
    width: 100%;
    max-width: 400px;
    /* 모바일 폭 제한 */
    height: 100vh;
    padding: 16px;
    border-radius: 8px;
    background: #c4f6cd;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 모바일 컨테이너너 - 그리드 세팅 모달창 */
.modal {
    display: none;
    position: absolute;
    width: 80%;
    max-width: 400px;
    height: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}

/* 그리드 박스 */
.grid-container {
    width: 100%;
    max-width: 400px;
    /* 모바일 폭 제한 */
    padding: 16px;
    padding-top: 30px;
    background-color: rgb(116, 15, 15);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* 그리드 세팅 버튼 */
.mode-toggle {
    width: 120px;
    height: 30px;
    background-color: rgb(37, 160, 13);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.mode-toggle:hover {
    background-color: rgb(33, 141, 11);
}

.mode-toggle:active {
    background-color: rgb(19, 81, 7);
}

.mode-toggle:focus {
    outline: none;
}


.grid {
    width: 100%;
    height: 100%;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 300px;
    gap: 3px;
}

.grid-item {
    background-color: rgb(37, 160, 13);
    border-radius: 8px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.middle-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
/* Go button */
.go-button {
    width: 120px;
    /* height: 80px; */
    padding: 30px 16px;
    background-color: rgb(37, 160, 13);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.info-text {
    margin: 0;               /* p 기본 여백 제거 */
    line-height: 1.4;        /* 줄 간격 조정 */
  }
.go-button:hover {
    background-color: rgb(33, 141, 11);
}
.go-button:active {
    background-color: rgb(19, 81, 7);
}
.go-button:focus {
    outline: none;
}

/* 프로그레스바 컨테이너 */
.progress-wrapper {
    width: 100%;
    max-width: 400px;
    height: 60px;
    margin-top: 30px;
    padding: 16px 0px;
}

progress {
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #e0e0e0;
    border-radius: 4px;
}

progress::-webkit-progress-value {
    background-color: #4caf50;
    border-radius: 4px;
}

progress::-moz-progress-bar {
    background-color: #4caf50;
    border-radius: 4px;
}

.vege-select-modal {
    display: none;
    position: absolute;
    width: 80%;
    max-width: 400px;
    height: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.grid-setting input {
    width: 32px;
    height: 20px;
}