* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.phone-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.status-image {
  width: 360px;
  height: 360px;
  aspect-ratio: 1/1;
  margin: 0 auto;
  border-radius: 6%;
  border: 2px solid #111;
  object-fit: contain;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.tip-box {
  margin-top: 10%;
  width: 360px;
  height: 20%;
  border: 2px solid #2d6a4f;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
  background: #fff;
  position: relative;
  padding-top: 25px; /* 공간 확보 */
  padding-left: 10px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.tip-box p {
  position: absolute;
  top: -20px;
  left: 0px;
  border: 2px solid #2d6a4f;
  margin: 0;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  color: #2d6a4f;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

#tipContent {
  font-size: 15px;
  font-weight: bold;
}

.progress-bar-wrapper {
  position: relative;
  width: 360px;
  height: 30px;
  margin-top: 50px;
  background-color: #eee;
  border-radius: 8px;
  font-size: 15px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.progress-bar {
  height: 100%;
  background-color: #2d6a4f;
  width: 0%;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.milestone {
  position: absolute;
  top: -4%;
  text-shadow: -1px -1px 0 white,
 1px -1px 0 white,
-1px  1px 0 white,
 1px  1px 0 white;
  font-weight: bolder;
  color: #333;
  cursor: pointer;
}

.slider-group {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

input[type=range] {
  width: 150px;
}